{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1 class="logo">TrustyDoctors</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'doctors' %}">All Doctors</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Section - Create Account Form -->
    <div class="form-container">
        <form method="post" class="form-box" id="createAccountForm">
            {% csrf_token %}
            <h2>Create Account</h2>
            <p>Please sign up to book an appointment</p>
            {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
            
            <label for="fullName">Username</label>
            <input type="text" id="fullName" placeholder="Username" name="username" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email"  name="email" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <label for="password">Re-type Password</label>
            <input type="password" id="password" placeholder="Password" name="password2" required>
            
            <button type="submit">Create account</button>
            <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </form>
    </div>

</body>
</html>
