{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1 class="logo">TrustyDoctors</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Doctors</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
        </nav>
        <button class="create-account-btn">Create account</button>
    </header>

    <!-- Main Section - Login Form -->
    <div class="form-container">
            {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
        <form method="post" class="form-box" id="loginForm">
            {% csrf_token %}
            <h2>Login</h2>
            
            <p>Please login to book an appointment</p>
            
            <label for="username">Username:</label>
            <input type="text" id="email" placeholder="Username" name="username" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" name="password" required>
            
            <button type="submit">Login</button>
            <p class="login-link">Don't have an account? <a href="{% url 'register' %}">Create one</a></p>
        </form>
    </div>

</body>
</html>
